@import "normalize.less";

html, body{
  font-family: "Helvetica Neue", Arial, "Hiragino Sans GB","Hiragino Sans GB W3", "Microsoft YaHei", "Wenquanyi Micro Hei", sans-serif;
}
ul{
  margin: 0;
  padding: 0;
}
li{
  list-style: none;
}
.clearfix{
  *zoom: 1;

  &:after{
    content: "";
    clear: both;
    display: table;
  }
}

.content {
  width: 1140px;
  margin: auto;
}
.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  height: 66px;
  background-color: #000000;
  line-height: 66px;

  .logo {
    display: inline-block;
    width: 177px;
    height: 52px;
    text-indent: -999em;
    background: url(../imgs/LOGO.png) no-repeat 0 0 / cover;
    vertical-align: middle;
  }
  .menu {
    float: right;

    .item{
      float: left;
      font-size: 15px;
      line-height: 1;
      margin: 0 30px;

      a{
        color: #888a8f;
        padding: 23px 0;
        line-height: 66px;
        text-decoration: none;

        &:hover, &:active{
          color: #ffde00;
          border-bottom: 2px solid #ffde00;
        }
      }

      &.current a{
        color: #ffde00;
        border-bottom: 2px solid #ffde00;
      }

    }
  }
}

.screen{
  position: relative;
  box-sizing: border-box;
}
.screen-1{
  height: 969px;
  margin-top: 66px;
  text-align: center;
  background: url(../imgs/screen1_bg.jpg) no-repeat center center;

  .btns{
    position: absolute;
    top: 730px;
    left: 0;
    right: 0;

    .button{
      display: inline-block;
      text-indent: -999em;
      overflow: hidden;
      width: 120px;
      height: 63px;
      background: url(../imgs/screen1_btn1.png) no-repeat;

      &.jiangjing{
        margin-left: 286px;
        background-image: url(../imgs/screen1_btn2.png);
      }
    }
  }

  .mask{
    position: absolute;
    z-index: 10;
    left: 0;
    right: 0;
    top: 66px;
    bottom: -66px;
    background: url(../imgs/screen1_mask.png) no-repeat center top;
  }
  .arrow{
    position: absolute;
    z-index: 11;
    bottom: 15px;
    left: 0;
    right: 0;
    margin: auto;
    padding-bottom: 30px;
    // width: 52px;
    // height: 52px;
    font-size: 16px;
    font-style: normal;
    color: #ffec66;
    background: url(../imgs/screen1_arrow.png) no-repeat 50% bottom;
    cursor: pointer;
  }
}

.screen-2{
  height: 570px;
  padding-top: 256px;
  background: url(../imgs/screen2_bg.jpg) no-repeat center top;

  .list{
    font-size: 25px;
    color: #cfccb9;
    padding-left: 70px;
    width: 700px;

    .item{
      float: left;
      width: 350px;
      list-style-type: disc;
      line-height: 2;
    }
  }
}

.screen-3{
  height: 660px;
  padding-top: 200px;
  text-align: center;
  background: url(../imgs/screen3_bg.jpg) no-repeat center top;


  .list{
    display: inline-block;
    margin: auto;
    text-align: left;

    .item{
      float: left;
      width: 240px;

      & + .item{
        margin-left: 134px;
      }

      .thumb{
        width: 248px;
        height: 140px;
        background: url(../imgs/screen3_safe.png) no-repeat center center;
      }

      .title{
        font-size: 35px;
        color: #c8ba5e;
        margin: 0;
      }

      .subtitle{
        font-size: 25px;
        color: #fff;
      }

      .desc{
        color: #cfccb9;
        font-size: 15px;
        line-height: 2;
      }
    }

    .shejiao{
      .thumb{
        background-image: url(../imgs/screen3_shejiao.png);
      }
    }
    .bianjie{
      .thumb{
        background-image: url(../imgs/screen3_bianjie.png);
      }
    }
  }
}

.screen-4{
  height: 556px;
  color: #cfccb9;
  padding-top: 220px;
  background: url(../imgs/screen4_bg.jpg) no-repeat center top;

  .title{
    text-align: center;
    font-weight: 100;
    font-size: 25px;
    margin-bottom: 1em;

    span{
      color: #c8ba5e;
    }
  }

  .list{
    font-size: 15px;
    width: 600px;
    margin: auto;

    .item{
      float: left;
      width: 300px;
      margin-bottom: 2em;

      i{
        border-radius: 50%;
        background-color: #e5d15d;
        color: #000;
      }
    }
  }
}

.footer{
  height: 70px;
  background-color: #212121;

  .copyright{
    line-height: 70px;
    color: #b4b4b4;
    text-align: center;
  }
}

.sidebar{
  position: fixed;
  left: 50%;
  top: 30%;
  margin-left: 570px;
  width: 79px;
  height: 228px;
  padding: 0 10px;
  font-size: 13px;
  text-align: center;
  background: url(../imgs/sidebar_bg.png) no-repeat;
  box-sizing: border-box;

  a{
    display: inline-block;
    color: #cda74c;
    text-decoration: none;
    padding-top: 45px;
    background: url(../imgs/sidebar_1.png) no-repeat 50% 8px;

    &.try{
      background-image: url(../imgs/sidebar_2.png);
    }
    &.collect{
      background-image: url(../imgs/sidebar_3.png);
    }
  }

  .item{
    height: 76px;

    & + .item{
      border-top: 1px dashed #908757;
    }
  }

}
